@import 'nullstyle';

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ----HEADER-------------------------------------------------------------------------------- */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }    
}
.header__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
}
.header__menu {
    margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }    
}
@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }    
}
@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }    
}
.menu {
    padding: 5px 0;
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item {
    &:not(:last-child) {
        margin: 0px 21px 0px 0px;
    }
    &:hover .menu__link {
        opacity: 0.5;
    }
}
.menu__link {
    font-weight: 600;
    color: #737373;
    line-height: 171%;
    transition: opacity 0.3s;
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }    
}

/* ----PAGE-------------------------------------------------------------------------------- */

.page {
    flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
}
.page__adventages {
}
.page__practice {

}
.page__whoweare {
}
.page__clients {
}
.page__subscribe {
}
.page__getsupport {
}
.page__contact {
}
/* ----HEADER-BLOCK-------------------------------------------------------------------------------- */

.header-block {
    text-align: center;
}
.header-block__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
@media (max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    }
}
@media (max-width: 767px) {
    .header-block__title {
        font-size: 30px;
    }
}
.header-block__sub-title {
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}
@media (max-width: 590px) {
    .header-block__sub-title br{
        display: none;
    }
}

/* ----FOOTER------------------------------------------------------------------------------ */

.footer {

}

/* ----MAIN-BLOCK-------------------------------------------------------------------------- */

.main-block {
    position: relative;
}
.main-block__container {
}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
    & > *:not(:last-child) {
        margin: 0px 0px 35px 0px;
    }
}
@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0px 171px 0px;;
    }
}
.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 138%;
    letter-spacing: 0.2px;
    color: #252B42;
}
@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}
.main-block__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #737373;
}
.main-block_buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0px;
}
.main-block__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    border-radius: 37px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 150%;
    padding: 5px 36px;
    margin: 10px 0px;
    text-align: center;
}

@media (max-width: 479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}
@media (min-width: 480px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block__button_orange {
    transition: background 0.7s;
    background: #FF7B47;
    color: #FFFFFF;
    &:hover {
        background: #ff5c1c;
    }
}
.main-block__button_border {
    border: 1px solid #0D5C63;
    color: #0D5C63;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block__image img{
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block__image {
        opacity: 0.5;
    }
}
@media (max-width: 767px) {
    .main-block__image {
        opacity: 0.2;
    }
}

/* ----SERVICES-------------------------------------------------------------------------- */

.services {
}
.services__container {
    padding: 0px 15px;
}

.services__body {
}
@media (min-width: 670px) {
    .services__body {
        display: flex; 
        flex-wrap: wrap;
        margin: 0px -15px -30px;
    }
}
.services__column {
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px;
}
@media (min-width: 670px) {
    .services__column {
        padding: 0px 15px;
    }
}
.services__item {
    height: 100%;    
}
@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }
    .services__column:last-child{
        flex: 0 1 100%;
    }
}
.item-service {
    background-color: #fff;
    padding: 35px 40px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.1);
}
.item-service > *:not(:last-child) {
    margin-bottom: 10px
}
.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #252B42;
}
.item-service__text {
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}
.item-service_checked {
    background-color: #0D5C63;
    & .item-service__title, & .item-service__text {
        color: #FFFFFF; 
    }
}

/* ----ADVENTAGES-------------------------------------------------------------------------- */


.adventages {
    padding: 80px 0px;
}
@media (max-width: 992px) {
    .adventages {
       padding: 60px 0px;
    }
}
.adventages__container {
}
._container {
}
.adventages__header {
    margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
    .adventages__header {
        margin: 0px 0px 25px 0px;
    }
}
.adventages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
}
.adventages__column {
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}
@media (max-width: 1020px) {
    .adventages__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 560px) {
    .adventages__column {
        flex: 0 1 100%;
    }
}
.adventages__item {
    background-color: #fff;
    font-weight: 700;
    padding: 30px;
    text-align: center;
    height: 100%;
    & > *:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }
}
.adventages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.adventages__value {
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
}
.adventages__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
}

/* ----PRACTICE-------------------------------------------------------------------------- */

.practice {
    padding: 80px 0px;
}
@media (max-width: 1040px) {
    .practice {
       padding: 40px 0px 80px 0px;
    }
}
@media (max-width: 767px) {
    .practice {
       padding: 15px 0px 50px 0px;
    }
}
.practice__container {
}
.practice__header {
    margin: 45px 0px;
}
@media (max-width: 767px) {
    .practice__header {
        margin: 30px 0px;
    }
}
.practice__body {
    margin: 0px -20px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    padding: 0px 20px;
    flex: 0 1 25%;
}
@media (max-width: 1040px) {
    .practice__column {
        flex: 0 1 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 630px) {
    .practice__column {
        flex: 0 1 100%;
        margin-bottom: 30px;
    }
}
.practice__item {
}
.item-practice {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}
.item-practice__link {
    display: inline-block;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    &:hover {
        text-decoration: underline;
    }
}
.item-practice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
}
.item-practice__text {
    font-weight: 500;
    line-height: 143%;
    color: #737373;
}
.item-practice__image {
    display: block;
    padding: 0px 0px 60% 0px;
}

/* ----WHOWEARE-------------------------------------------------------------------------- */

.whoweare {
    background-color: #fff;
    padding: 100px 0px 136px 0px;
}
.whoweare__container {
}
.whoweare__header {
    margin: 0px 0px 100px 0px;
}
.whoweare__body {
    display: flex;
    align-items: flex-start;
}
.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.whoweare__content {
    flex: 1 1 auto;
    padding: 0px 0px 0px 121px;
}
.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
    &:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }
}
.whoweare__text {
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}
.whoweare__items {
    margin: 50px 0px 0px 0px;
}
.whoweare__item {
}
.item-whoweare {
    display: flex;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
.item-whoweare__icon {
    flex: 0 0 32px;
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
    &:not(:last-child) {
        margin: 0px 0px 5px 0px;
    }
}
.item-whoweare__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}
@media (max-width: 1080px) {
    .whoweare__content {
        padding: 0px 0px 0px 50px;
    }
}
@media (max-width: 950px) {
    .whoweare {
        padding: 50px 0px 50px 0px;
    }
    .whoweare__header {
        margin: 0px 0px 50px 0px;
    }
    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .whoweare__content {
        padding: 0px 0px 0px 0px;
    }
    .whoweare__title {
        font-size: 20px;
    }
    .whoweare__video {
        padding: 0px 0px 56.25% 0px;
        margin: 50px 0px 0px 0px;
    }
}
@media (max-width: 767px) {
    .whoweare {
        padding: 45px 0px 50px 0px;
    }
}

/* ----CLIENTS-------------------------------------------------------------------------- */

.clients {
    padding: 50px 0px;
}
@media (max-width: 767px) {
    .clients {
        padding: 30px 0px;
    }
}
.clients__container {
}
.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.clients__item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 120px;
    & img {
        max-width: 100%;
    }
}

/* ----SUBSCRIBE-------------------------------------------------------------------------- */

.subscribe {
    position: relative;
    padding-bottom: 20px;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 77px;
        left: 0;
        background-color: #252B42;
    }
}
.subscribe__container {
}
.subscribe__body {
    position: relative;
    z-index: 2;
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    align-items: center;
    background: #17213C;
    border-radius: 2px;
    padding: 30px 50px;
}
.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    max-width: 266px;
    flex: 0 1 50%;
}
.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subscribe__input {
    width: 100%;
    border-radius: 5px 0 0 5px;
    background-color: #F9F9F9;
    padding: 0px 20px;
    min-height: 58px;
    border-right: 0;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #737373;
    flex: 1 1 auto;
    &:focus {
        color: #000;
    }
}
.subscribe__button {
    display: flex;
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    transition: background 0.7s;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 22px;
    &:hover {
        background: #ff5c1c;
    }
}

@media (min-width: 1070px) {
    .subscribe__body {
        margin: 0px 30px;
    }
}
@media (max-width: 810px) {
    .subscribe__body {
        flex-wrap: wrap;
        margin: -15px;
        padding: 25px 20px;
    }
    .subscribe__title {
        flex: 0 1 100%;
        text-align: center;
        padding-bottom: 10px;
        max-width: 100%;
    }
    .subscribe__form {
        flex: 0 1 100%;
    }
}
@media (max-width: 424px) {
    .subscribe__title {
        font-size: 18px;
    }
}

/* ----GETSUPPORT-------------------------------------------------------------------------- */

.getsupport {
    margin: 0px 0px 68px 0px;
}
.getsupport__container {
    padding: 80px 15px;
}
.getsupport__header {
    margin: 0px 0px 80px 0px;
}
.getsupport__body {
    margin: 0px 32px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.getsupport__item {
    flex: 0 1 33.333%;
}
.item-getsupport {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    transition: all 0.7s;
    background: #fff;
    & > *:not(:last-child) {
        margin-bottom: 15px;
    }
    &:hover {
        padding: 80px 40px;
        background: #252B42;
        & .item-getsupport__button {
            border: 1px solid #fff;
        }
        & *{
            color: #fff;
        }
        & ._hover-svg {
            fill: white;
        } 
    }  
}
.item-getsupport__icon svg{
    max-height: 72px;
}
._hover-svg {
    transition: all 0.7s;
}
.item-getsupport__mails {
    display: flex;
    flex-direction: column;
    text-align: center;
    & a {
        font-weight: 600;
        line-height: 171%;
        letter-spacing: 0.2px;
        color: #252B42;
    }
}
.item-getsupport__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
}
.item-getsupport__button {
    padding: 10px 20px;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FF7B47;
    border: 1px solid #FF7B47;
    border-radius: 5px;
}

@media (max-width: 1023px) {
    .getsupport {
        margin: 0px;
    }
    .getsupport__item {
        flex: 1 1 100%;
        margin-top: 15px;
    }
    .getsupport__container {
        padding: 80px 0px;
    }
    .getsupport__body {
        margin: 0px;
    }
    .getsupport__header {
        margin: 0px 0px 40px 0px;
    }
    .item-getsupport__icon svg{
        max-height: 55px;
    }
}

/*--------CONTACT-------------------------------------------------------------------------*/

.contact {
    background: #FFFFFF;
}
.contact__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 15px;
}
.contact__body {
    & > *:not(:last-child) {
        margin-bottom: 10px;
    }
}
.contact__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
}
.contact__text {
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}
.contact__button {
    padding: 15px 40px;
    margin: 0px 38px;
    background: #FF7B47;
    transition: background 0.5s;
    border-radius: 5px;
    font-weight: 700;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    &:hover {
        background: #ff5c1c;
    }
}

@media (max-width: 767px) {
    .contact__title {
        font-size: 20px;
    }
    .contact__container {
        text-align: center;
        align-items: center;
        justify-content: baseline;
        flex-direction: column;
    }
    .contact__text {
        margin-bottom: 20px;
    }
    .contact__button {
        width: 60%;
    }
}

/*--------FOOTER-------------------------------------------------------------------------*/

.footer__links {
}
.footer__copyright {
}

/*--------LINKS-------------------------------------------------------------------------*/

.links {
    background: #17213C;
}
.links__container {
    padding: 50px 15px;
}
.links__row {
    display: flex;
}
.links__column {
    display: flex;
    flex-direction: column;
    min-width: 152px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}
.links__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0px 0px 20px 0px;
}
.links__list {
    display: flex;
    flex-direction: column;
}
.links__item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    & a {
        font-weight: 600;
        transition: opacity 0.3s;
        line-height: 171%;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        &:hover {
            opacity: 0.6;
        }
    }
    &_withicon {
        display: flex;
        align-items: center;
        & img {
            margin-right: 10px;
        }
    }
}
@media (max-width: 1023px) {
    .links__row {
        flex-wrap: wrap;
        margin-bottom: -20px;
    }
    .links__column {
        & br {
            display: none;
        }
        margin-bottom: 20px;
    }
    .links__title {
        margin: 0px 0px 15px 0px;
    }
}
@media (max-width: 757px) {
    .links__column {
        & br {
            display: inline;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    .links__title {
        margin: 0px 0px 15px 0px;
    }
}
@media (max-width: 515px) {
    .links__list {
        display: none;
    }
    .links__column br {
        display: none;
    }
    ._show {
        display: flex;
        animation: growing 1s;
    }
    @keyframes growing {
        from {
            opacity: 0.1;
        }
        to {
            opacity: 1;
        }
    }
    .links__column {
        flex: 0 1 100%;
    }
}

/*----------COPYRIGHT------------------------------------------------------------------*/

.copyright {
}
.copyright__container {
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright__text {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}
.copyright__media {
}
.media-copyright {
    display: flex;
    align-items: center;
    padding: 0px 40px;
}
.media-copyright__item {
    &:not(:last-child) {
        margin-right: 20px;
    }
}
@media (max-width: 492px) {
    .copyright__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        & > *:not(:last-child) {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 425px) {
    .copyright__text {
        font-size: 10px;
    }
    .media-copyright__item img{
        height: 20px;
    }
}